*{
    margin: 0;
    padding: 0;
}
body{
    color: #ffffff;
    font-family: monospace,sans-serif;

}
.container-grid {
    display: grid;
    grid-template-areas:
      "header menu menu menu"
      "hero hero hero hero"
      "main main image image"
      "main main extra extra"
      "banner banner banner banner";
    grid-template-rows: 10vh 60vh repeat(3, 10vh);
  }


.header{
    background-color: #00034c;
    grid-area: header;
}
.nav{
    background-color: rgb(255, 78, 70);
    grid-area: menu;
}
.hero{
    background-color: rgb(17, 100, 133);
    grid-area: hero;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.main{
background-color: #00034c;
grid-area: main;
}
.image{
    color: #000;
    background-color: aquamarine;
    grid-area: image;

}
.extra{
    background-color: green;
    grid-area: extra;
}
.banner {
    background-color: rgb(234, 182, 26);
    grid-area: banner;
  }

